<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xvjialing.administrator.talentpool">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 发送消息 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".ac.ActivityLogin" />
        <activity
            android:name=".ac.ActivityMain"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ac.ActivityRegister" />
        <activity android:name=".ac.ActivityResume" >

        </activity>
        <activity android:name=".ac.ActivityJobDetail"
            android:launchMode="singleTask"/>
        <activity android:name=".ac.ActivityCompanyDetail"
            android:launchMode="singleTask"/>
        <activity android:name=".ac.ActivityResumeBasicInfo" />
        <activity
            android:name=".ac.ActivityResumeWorkExperience"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".ac.ActivityInterviewInvitation" />
        <activity android:name=".ac.ActivityStartPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ac.ActivityProjectExperience"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".ac.ActivityWishJob" />
        <activity android:name=".ac.ActivityEducateExperience" />
        <activity android:name=".ac.ActivityRecentVisitor" />
        <activity android:name=".ac.ActivityInterestMe" />
        <activity android:name=".ac.ActivityDeliverFeedbak" />
        <activity android:name=".ac.ActivitySetting" />
        <activity android:name=".ac.ActivityMailList" />
        <activity android:name=".ac.ActivitySearchFriend" />
        <activity android:name=".ac.ActivityQualityTest" />
        <activity android:name=".ac.ActivityCompleteInfo" />
        <activity android:name=".ac.ActivitySearchJob" />
        <activity android:name=".ac.ActivitySystemMessage" />
        <activity android:name=".ac.ActivityFirstInterviewTest" />
        <activity android:name=".ac.ActivityRemarks" />
        <activity android:name=".ac.ActivitySkillTest" />
        <activity android:name=".ac.ActivityComprehensiveSkillsTest" />
        <activity
            android:name=".ac.ActivitySuggestion"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".ac.ActivityJobCollection" />
        <activity android:name=".ac.ActivityModifyPassword_" />
        <activity android:name=".ac.ActivityPrivacy" />
        <activity android:name=".ac.ActivityBlackList" />
        <activity android:name=".ac.ActivityAboutUs" />
        <activity android:name=".ac.ActivityBanner" />
        <activity android:name=".ac.ActivityEditEducateExperience" />
        <activity android:name=".ac.ActivityEditProjectExperience" />
        <activity android:name=".ac.ActivityEditWorkExperience" />
        <activity android:name=".ac.ActivityAddBole" />
        <activity android:name=".ac.ActivityEditBole" />
        <activity android:name=".ac.ActivityFriend" />
        <activity android:name=".ac.ActivityFeedback" />
        <activity android:name=".ac.ActivityFriendSetting" />
        <activity android:name=".ac.ActivityMyFriend" />
        <activity android:name=".ac.ActivitySendMessage" />


    </application>

</manifest>